


<div class="container mt-4">
  <div class="row">
    <div class="col-md-12">
      <p>
          {{title | summary : 20}}
      </p>
        <p>
          {{title | summary : 120}}
        </p>
        <p>
          {{title | summary : 100}}
       </p>
       <p>
        {{title | summary : 100}}
      </p>
    </div>
    <!-- <div class="col-4">
      <div class="card">
        <div class="card-header">
          
        </div>
        <div class="card-body">
          <p>
            {{courseObj.students | number}}
          </p>
          <p>
            {{courseObj.rating | number : '2-2-2'}}
          </p>
          <p>
            {{courseObj.rating | number : '4.5-5'}}
          </p>
          <p>
            {{courseObj.releaseDate | date}}<br>
            {{courseObj.releaseDate | date : 'short'}}<br>
            {{courseObj.releaseDate | date : 'shortDate'}}<br>
            {{courseObj.releaseDate | date : "longDate"}}
          </p>
        </div>
      </div>
    </div> -->
  </div>
</div>